<link rel="stylesheet" href="/static/css/nav.css">

<nav>    
    <img class="logo-icon" src="/static/images/logo.svg" alt="logo">
    <a class="company-name" href="#">EmptyCup</a>
    <img class="menu-icon" src="/static/images/menu.svg" alt="menu">
</nav>

<div class="nav-line"></div>

<div class="overlay">
    <div class="overlay-content">
        <div class="content-1">
            <a class="contact-icon" href="#"><img src="/static/images/contact.svg" alt=""></a>
            <a class="gallery-icon" href="#"><img src="/static/images/gallery.svg" alt=""></a>
            <a class="map-icon" href="#"><img src="/static/images/map.svg" alt=""></a>
        </div>

        <div class="content-2">
            <a class="shortlisted-icon" href="#"><img src="/static/images/shortlisted.svg" alt=""></a>
            <a class="sort-icon" href="#"><img src="/static/images/sort.svg" alt=""></a>
        </div>
    </div>
</div>